:root {
    --grey: #2a333d;
    --white: #fff;
    --white-bg: #f4f4f4;
    --orange: #ffa236;
}

.events-container {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--white-bg);
}

.live, .upcoming{
    width: 44vw;

}
.live .event-details, .upcoming .event-details {
    height: 80vh;
    overflow-y: auto;
}

.previous {
    width: 30vw;
}
.previous .event-block {
    height: 80vh;
    overflow-y: auto;
}

.event-details p:nth-child(1){
    font-size: 1.4rem;
}

.event-details p:nth-child(2){
    font-size: 1rem;
    color: black;
}

.event-details p:nth-child(2) span{
    margin-left: 20px;
    color: rgb(224, 92, 92);
}

.heading {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 37px;
    /* identical to box height */
    color: #3D3B3B;
    text-decoration: underline;
    text-decoration-color: var(--orange);
}

.event-card {
    height: 60px;
    margin-bottom: 2vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background: #E5E5E5;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #3D3B3B;
}

.button-and-winner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.event-btn {
    width: 120px;
    height: 36.13px;
    background: #FFA236;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 50px;

    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    color: var(--white);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.event-btn:hover{
    background: white;

}

@media screen and (max-width: 768px) {
    .events-container {
        flex-direction: column;
        padding: 4vw;
    }    
    .live, .previous, .upcoming {
        width: 90vw;
    }
    .live .event-block, .upcoming .event-block, .previous .event-block {
        height: unset;
    }
    .button-and-winner {
        align-items: flex-end;
    }
    .event-btn {
        height: 30px;
        width: 90px;
        font-size: 16px;
    }
}
  