:root {
    --grey: #2a333d;
    --white: #fff;
    --white-bg: #f4f4f4;
    --orange: #ffa236;
  }


.list{
    padding: 50px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list .head{
    font-weight: 600;
    font-size: 1.5rem;
    padding: 2px;
    border-bottom: 3px solid var(--orange);
}

.card-container{
    display: flex;
    flex-direction: column;
}

.card{
    width: 80vw;
    padding: 15px;
    margin-bottom: 35px;
    background: rgba(251, 251, 251, 0.09);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .left{
    flex-grow: 1;
    width: 80%;
}

.card .left p{
    margin: 0px;
}

.card .left p:nth-child(1){
    font-size: 1.5rem;
    padding: 5px;
    margin-bottom: 10px;
    font-weight: 900;
}

.card .left p:nth-child(2){
    padding: 10px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.37);
    padding-bottom: 15px;
}

.card .right{
    width: 30%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card .right p:nth-child(1){
    font-size: 1.1rem;
    font-weight: 800;
}

.card .right button{
    padding: 10px 30px;
    font-family: 'Poppins';
    font-size: 1.1rem;
    border-radius: 50px;
    border: 3px solid var(--orange);
    background: transparent;
    color: var(--white);
    transition: all 0.5s ease-in-out;
}

.card .right button:hover{
    background: var(--white-bg);
    color: var(--orange);
    border-color: var(--white-bg);
}