:root {
    --grey: #2a333d;
    --white: #fff;
    --white-bg: #f4f4f4;
    --orange: #ffa236;
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loading{
    flex-grow: 1;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading img{
    width: 100%;
}

.card{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.card-body{
    background-color: rgba(255, 255, 255, 0.205);
    margin: 50px;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 0px 11px 20px 20px #0000000d;
    box-sizing: border-box;
    width: 90vw;
}

.card p{
    padding: 10px 20px;
}

.cover-photo{
    float: left;
    padding: 25px;
    width: 30%;
    object-fit: contain;
}

.card p a{
    color: var(--orange)
}

@media screen and (max-width: 768px) {
    .cover-photo{
        float: none; 
        width: 80%;
    }
    .card-body{
        margin: 0px;
    }
    .card h1{
        text-align: center;
    }
    .card p{
        text-align: justify;
    }



    .container{
        width: 100%;
    }
}