.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading{
    flex-grow: 1;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading img{
    width: 100%;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card p{
    width: 60%;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .card p{
        width: 95%;
    }
}