:root {
  --grey: #2a333d;
  --white: #fff;
  --white-bg: #f4f4f4;
  --orange: #ffa236;
}

.landing-sec-container {
  padding-top: 12vh;
  background-color: var(--grey);
  color: var(--white);
  height: 88vh;
}
