:root {
  --grey: #2a333d;
  --white: #fff;
  --white-bg: #f4f4f4;
  --orange: #ffa236;
}

.teams-sec-container {
  height: 88vh;
  background-color: var(--white-bg);
  padding: 14vh 3vw 8vh;
}

.team {
  height: 78%;
  width: 94vw;
  background-color: var(--orange);
}