.nav-container {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: -webkit-fill-available;
  background-color: var(--grey);
  z-index: 100;
  width: 100vw;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-in-out;
}

.nav-links {
  display: flex;
  height: 100%;
  transition: all 0.5s ease-in-out;
}

.contact-button,
.signup-button,
.login-button {
  padding: 5px 15px !important;
  font-size: 15px !important;
}

.contact-button {
  background: var(--grey) !important;
  border-color: var(--orange) !important;
}

.login-button {
  border: none !important;
  background: none !important;
}

@media (max-width: 768px) {
  .nav-container {
    justify-content: center;
    transition: all 0.5s ease-in-out;
  }
  .nav-links {
    display: none;
    transition: all 0.5s ease-in-out;
  }
}
