:root {
	--grey: #2a333d;
	--white: #fff;
	--white-bg: #f4f4f4;
	--orange: #ffa236;
}

.footer-main {
	background-color: var(--grey);
	color: var(--white);
	padding: 5vh 1vw;
}

.social-links {
	list-style: none;
	padding-left: 0;
}

.social-links li {
	display: inline;
	padding: 0.5vw;
}

.social-links li a {
	color: #fff;
	transition: color 0.2s ease-in-out;
}

.social-links li a:hover {
	color: var(--orange);
}

.logo-image {
	width: 15vw;
	height: auto;
}
.lorem-para {
	text-align: center;
	color: #f7f7f7;
	font-weight: 200;
	padding: 2vh 10vw;
}
