
:root {
  --grey: #e6e6e6;
  --white: #fff;
  --white-bg: #f4f4f4;
  --orange: #ffa236;
  --gray: #c7ffcd93;
  --darkBlue: #1c2229;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}