:root {
  --grey: #2a333d;
  --white: #fff;
  --white-bg: #f4f4f4;
  --orange: #ffa236;
}
body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  background-color: var(--white-bg);
}
.carousel-section {
  background-color: var(--white-bg);
  padding: 50px 0;
}
a,
a:link,
a:hover {
  color: #fff;
  text-decoration: inherit;
}

::-webkit-scrollbar{
  width: 8px;
  height: 8px;
  }
  ::-webkit-scrollbar-thumb{
  background: #BDBDBD;
  border-radius: 30px;
  }
  ::-webkit-scrollbar-thumb:hover{
  background: #B3AFB3;
  }
  ::-webkit-scrollbar-track{
  background: #F0F0F0;
  border-radius: 0px;
  box-shadow: inset 4.2px 0px 0px 0px #F0F0F0;
  }