:root {
  --grey: #2a333d;
  --white: #fff;
  --white-bg: #f4f4f4;
  --orange: #ffa236;
}



body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  background-color: var(--grey);
  position: relative;
  background-image: url("./images/bg_texture.png");
  background-size: contain;
  /* margin: 64px auto; */
  height: 100vh;
  /* width: -webkit-fill-available;  */
  color: var(--white);
  scroll-behavior: smooth;
}

.main-container {
  flex-direction: column;
  flex: 1;
  background-image: url("./images//bg_texture.png");
  background-repeat: repeat;
  background-size: 720px;
}

.carousel-section {
  background-color: var(--white-bg);
  padding: 50px 0;
}
a,
a:link,
a:hover {
  color: #fff;
  text-decoration: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #b3afb3;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 0px;
  box-shadow: inset 4.2px 0px 0px 0px #f0f0f0;
}
div[class^="Snackbar_snackbar-wrapper"] {
  z-index: 1100;
}


.landing-card {
  padding: 2vh 5vh;

}
