:root {
  --grey: #2a333d;
  --white: #fff;
  --white-bg: #f4f4f4;
  --orange: #ffa236;
}
body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
}
.carousel-section {
  background-color: var(--white-bg);
  padding: 50px 0;
}
